body {
	background-color: lightblue;
}

nav a {
	padding:15px;
	padding-bottom:4px;
	font-size: 1.8em;
	font-family: 'Michroma', sans-serif;
	text-decoration: none;
	color: black;
	display:flex;
	justify-content: center;
}

nav a:hover {
	border-bottom:2px gray solid;
	font-size: 2em;
	transition: .9s;
	margin: 0px auto;
	
}

nav a:current-page{
	background-color: yellow;
	font-weight: bold;
	color: red;
}

div {
	display:flex;
	justify-content: center;
	font-family: 'Michroma', sans-serif;
}

.content {
	margin: 0px auto;
}

.contact {
	margin: 0px auto;
	text-align: left;
}

ul {
	width:500px;
	margin: 0px auto;
	text-align: left;
}

.fact {
	color: green;
	font-family: 'Michroma', sans-serif;
}

h1 {
	text-align: center;
	font-family: 'Michroma', sans-serif;
}



figure {
	display:flex;
	justify-content: center;
}

table {
	margin: 0px auto;
	background-color: white;
	font-family: 'Michroma', sans-serif;
}

td {
	padding-right: 10px;
	font-size: 1.3em;
	font-family: 'Michroma', sans-serif;
}

td strong {
	color: navy;
	font-family: 'Michroma', sans-serif;
}

#table-header {
	background-color: dark blue;
}

.table-row {
	background-color: light blue;
}

main {
	display:flex;
	justify-content: center;
}


footer {
	color: navy;
	font-family: 'Michroma', sans-serif;
	font-size: .6em;
	text-align: center;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
